asgiref==3.6.0
cffi==1.15.1
charset-normalizer==3.0.1
cryptography==39.0.0
Django==4.1.6
django-cleanup==6.0.0
django-filter==22.1
django-widget-tweaks==1.4.9
mysqlclient==2.1.1
Pillow==9.4.0
pycparser==2.21
PyJWT==2.6.0
six==1.16.0
sqlparse==0.4.1
tzdata==2022.7
urllib3==1.26.14
