{%load static%}
{% load widget_tweaks %}

<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot password</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
  <link rel="stylesheet" href="{%static 'assets/css/tailwind.output.css'%}">
</head>

<body>
  <div class="p-10 ">
    <h1 class="text-gray-500 text-2xl tracking-tight">Password reset sent</h1>
    <p class="mt-5 text-gray-700">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p class="mt-2 text-gray-700">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
  </div>
</body>

</html>