{% extends 'adminside/basic.html' %}
{%load static %}
{%load widget_tweaks%}
{% block title %}
Product Request
{% endblock %}

{%block body%}

<!-- add product Modal -->
{%if modalProduct%}
<section id="product-modal" aria-hidden="true"
    class="max-w-xl mx-auto my-auto p-6 h-min bg-white rounded-md shadow-md dark:bg-gray-800 hidden overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-8 z-50 justify-center items-center md:inset-0">

    <form id="productForm" action="{%url 'acceptProductRq' id %}" data-subcaturl="{% url 'ajax_load_subCategory' %}" data-token="{{ csrf_token }}" enctype="multipart/form-data" method="post" novalidate>
        {%csrf_token%}
        <div class="">
        <button type="button" onclick="location.href='/adminpanel/customizeproductrq'"
            class="text-gray-400 float-right mr-2 mt-1 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
    <h2 class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"><span class="text-purple-700">Add</span> Product </h2>
        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-3 text-sm">
            <div class="sm:col-span-3">
                <label class="text-gray-700 dark:text-gray-200" for="username">Product Name</label>
                {{productForm.name|add_class:'text-sm block w-full mt-2 h-8 px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.name.errors|striptags}}</p>
            </div>
            <div class="sm:col-span-3">
                <label class="text-gray-700 dark:text-gray-200" for="username">Description</label>
                {{productForm.desc|add_class:'block w-full mt-2 h-12 resize-none px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.desc.errors|striptags}}</p>
            </div>
            <div class="sm:col-span-3">
                <label class="text-gray-700 dark:text-gray-200" for="username">Select Image</label>
                {{imgForm.image|attr:'multiple'|add_class:'block w-full mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{imgForm.image.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">Quantity</label>
                {{productForm.quantity|add_class:'text-sm block w-full mt-2 h-8 px-4 py-2  text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.quantity.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">Rent Per Day</label>
                {{productForm.rent_per_day|add_class:'text-sm block w-full mt-2 h-8 px-4 py-2  text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.rent_per_day.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">Rent Per Week</label>
                {{productForm.rent_per_week|add_class:'text-sm block w-full mt-2 h-8 px-4 py-2  text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.rent_per_week.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">Rent Per Month</label>
                {{productForm.rent_per_month|add_class:'text-sm block w-full mt-2 h-8 px-4 py-2  text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.rent_per_month.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">Deposit</label>
                {{productForm.deposit|add_class:'text-sm block w-full mt-2 h-8 px-4 py-2  text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.deposit.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">DeliveryPickup Charge</label>
                {{productForm.delivery_pickup_charges|add_class:'text-sm block w-full mt-2 h-8 px-4 py-2  text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.delivery_pickup_charges.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">Brand</label>
                {{productForm.brand|add_class:'block w-full mt-1 h-9 text-gray-700 px-2 py-1 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.brand.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">Category</label>
                {{productForm.category|add_class:'block w-full mt-1 h-9 text-gray-700 px-2 py-1 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.category.errors|striptags}}</p>
            </div>
            <div>
                <label class="text-gray-700 dark:text-gray-200" for="username">SubCategory</label>
                {{productForm.subcategory|add_class:'block w-full mt-1 h-9 text-gray-700 px-2 py-1 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                <p class="text-red-500 text-xs">{{productForm.subcategory.errors|striptags}}</p>
            </div>
        </div>
        <div class="flex justify-end mt-6">
            <button
                class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform rounded-md focus:outline-none bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </div>
    </form>
</section>
{%endif%}


<!-- description modal -->
<div id="description-modal" aria-hidden="true"
    class="hidden overflow-y-hidden overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center h-modal md:h-full md:inset-0">
    <div class="relative px-4 w-2/4 md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="">
                <button type="button" type="button" onclick="location.href='/adminpanel/customizeproductrq'"
                    class="text-gray-400 float-right mr-2 mt-1 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="outline-hidden">
                <p class="px-12 py-8 leading-relaxed text-md text-gray-500 text-justify">
                    {{detail.description}}</p>
            </div>
        </div>
    </div>
</div>
<div class="p-16 rounded-md w-full">
    <div class="w-full p-4 bg-white overflow-auto rounded shadow-md dark:bg-gray-800">
        <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
                <thead>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-white dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Date</th>
                        <th class="px-4 py-3">product</th>
                        <th class="px-4 py-3">customer</th>
                        <th class="px-4 py-3">Details</th>
                        <th class="px-4 py-3">actions</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {%for request in requests%}
                    <tr class="text-gray-700 dark:text-gray-400 text-sm">

                        <td class="px-4 py-3 text-md">
                            <p class="">{{request.date|date:"d-m-Y"}}</p>
                        </td>
                        <td class="px-4 py-3 ">
                            <p class="text-md">{{request.product_name|truncatechars:40}}</p>
                        </td>
                        <td class="px-4 py-3">
                            <p class="">{{request.customer.company_name|capfirst}}</p>
                        </td>
                        <td>
                            <a href="{%url 'getDetails' request.id %}"
                                class="text-sm text-blue-600 hover:text-blue-900 dark:text-blue-500 dark:hover:underline">View
                                Details</a>
                        </td>
                        <td class="px-4 py-3">
                            <a href="{%url 'acceptProductRq' request.id %}"
                                class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-5 py-2 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Accept</a>
                                <button type="button" data-rid="{{request.id}}" data-token="{{ csrf_token }}" data-url="{%url 'declineProductRq' request.id %}" data-return="{%url 'customizeProductRq'%}"
                                class="declineBtn text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xs px-5 py-2 text-center mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Decline</button>
                            </p>
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>
        {%if customers.has_other_pages%}
        <div
            class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
            <span class="flex items-center col-span-3">
                Showing {{ customers.start_index }}-{{ customers.end_index }} of {{customers.paginator.count}}
            </span>
            <span class="col-span-2"></span>
            <!-- Pagination -->
            <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center">
                        {%if customers.has_previous%}
                        <li>
                            <a href="?page={{customers.previous_page_number}}"
                                class="px-3 py-1 rounded-md rounded-l-lg inline-block focus:outline-none focus:shadow-outline-purple"
                                aria-label="Previous">
                                <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                    <path
                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                        clip-rule="evenodd" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="?page={{customers.previous_page_number}}"
                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                {{customers.previous_page_number}}
                            </a>
                        </li>
                        {%endif%}
                        <li>
                            <a href="?page={{customers.number}}"
                                class="px-3 pr-5 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                                {{customers.number}}
                            </a>
                        </li>
                        {%if customers.has_next%}
                        <li>
                            <a href="?page={{customers.next_page_number}}"
                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                {{customers.next_page_number}}
                            </a>
                        </li>
                        <li>
                            <a href="?page={{customers.next_page_number}}"
                                class="px-3 py-1 rounded-md rounded-r-lg inline-block focus:outline-none focus:shadow-outline-purple"
                                aria-label="Next">
                                <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                    <path
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                        </li>
                        {%endif%}
                    </ul>
                </nav>
            </span>
        </div>
        {%endif%}
    </div>
</div>

{%block js%}

    {% if modalDescription %}
        <script>
            window.addEventListener("load", () => {
                toggleModal("description-modal");
            })
        </script>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{%static 'assets/js/load_subCategory.js'%}"></script>
    {%if modalProduct %}
        <script>
            window.addEventListener("load", ()=>{
                toggleModal("product-modal");
            })
        </script>
    {%endif%}

{% endblock %}

{% endblock %}