{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
</head>
<body>

    {%for pro in product %}

        {%for pro_img in product_img %}

            {%for sub_img in pro_img %}
                {%if sub_img.product_idproduct.id is pro.id%}
                <img src="/media/{{sub_img.image}}" alt="" height="300px" width="400px">
                {%endif%}
            {%endfor%} 
        {%endfor%} 
        <p>{{pro.product_desc}}</p>
        <p>{{pro.rent_per_day}}</p>
        <p>{{pro.rent_per_month}}</p>
        <p>{{pro.rent_per_week}}</p>
        <p>{{pro.deposit}}</p>
        <p>{{pro.delivery_pickup_charges}}</p>

    {%endfor%}
    
</body>
</html>