{% extends 'adminside/basic.html' %}

{%load static %}
{% load widget_tweaks %}

{% block title %}
Customers Requests
{% endblock %}

{%block body%}

<div class="p-8 rounded-md w-full">
    <div class="w-full p-4 bg-white overflow-hidden rounded shadow-md dark:bg-gray-800">
        <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
                <thead>
                    <tr>
                        <form method="get">
                            <div class="inline-block mb-10 ml-2">
                                <label class="text-gray-700 dark:text-gray-200" for="id_name">company :</label>
                                {{myFilter.form.company_name|add_class:'text-sm w-32 inline mt-2 h-8 px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:outline-none'}}
                            </div>
                            <div class="inline mb-4 ml-4">
                                <label class="text-gray-700 dark:text-gray-200" for="id_brand">area :</label>
                               {{myFilter.form.area|add_class:'inline w-28 mt-1 h-8 text-gray-700 px-2 py-1 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                            </div>
                            <div class="inline mb-4 ml-4">
                                <label class="text-gray-700 dark:text-gray-200 " for="id_category">city :</label>
                               {{myFilter.form.city|add_class:'inline mt-1 w-28 h-8 text-gray-700 px-2 py-1 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                            </div>
                            <div class="inline mb-4 ml-4">
                                <label class="text-gray-700 dark:text-gray-200" for="id_subcategory">state :</label>
                               {{myFilter.form.state|add_class:'inline mt-1 w-28 h-8 text-gray-700 px-2 py-1 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring'}}
                            </div>

                            <button class="inline ml-3 float-right text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700" type="submit">
                                Filter
                            </button>
                        </form>
                    </tr>
                    <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800">
                        <th class="px-4 py-3">Customer</th>
                        <th class="px-4 py-3">Company</th>
                        <th class="px-4 py-3">City</th>
                        <th class="px-4 py-3">Area</th>
                        <th class="px-4 py-3">Request Date</th>
                        <th class="px-4 py-3">Action</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {%for customer in customers%}
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3">
                            <div class="flex items-center text-sm">
                                <!-- Avatar with inset shadow -->
                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                    <img class="object-cover w-full h-full rounded-full" src={{customer.image.url}}
                                        alt="" loading="lazy" />
                                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                </div>
                                <div>
                                    <p class="font-semibold">{{customer.user.username}}</p>
                                    <p class="text-xs text-gray-600 dark:text-gray-400">
                                        {{customer.user.email}}
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-sm">
                            {{customer.company_name}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            {{customer.city}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            {{customer.area}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            {{customer.user.date_joined}}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <p class="whitespace-nowrap">
                            <form action="{% url 'action' customer.id 'accept' 'User'%}" method="post" class="inline">
                                {% csrf_token %}
                                <button type="submit"
                                    class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-xs px-5 py-2 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Accept</button>
                            </form>
                            <button type="button" data-uid="{{customer.user.id }}" data-token="{{ csrf_token }}" data-url="{% url 'action' customer.user.id 'delete' 'User'%}" data-return="{% url 'customerRQ' %}"
                                class="userDeleteBtn text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xs px-5 py-2 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">decline</button>
                            </p>
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>
        {%if customers.has_other_pages%}
        <div
            class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700  sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
            <span class="flex items-center col-span-3">
                Showing {{ customers.start_index }}-{{ customers.end_index }} of {{customers.paginator.count}}
            </span>
            <span class="col-span-2"></span>
            <!-- Pagination -->
            <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center">
                        {%if customers.has_previous%}
                        <li>
                            <a href="?page={{customers.previous_page_number}}"
                                class="px-3 py-1 rounded-md rounded-l-lg inline-block focus:outline-none focus:shadow-outline-purple"
                                aria-label="Previous">
                                <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                    <path
                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                        clip-rule="evenodd" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="?page={{customers.previous_page_number}}"
                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                {{customers.previous_page_number}}
                            </a>
                        </li>
                        {%endif%}
                        <li>
                            <a href="?page={{customers.number}}"
                                class="px-3 pr-5 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                                {{customers.number}}
                            </a>
                        </li>
                        {%if customers.has_next%}
                        <li>
                            <a href="?page={{customers.next_page_number}}"
                                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                                {{customers.next_page_number}}
                            </a>
                        </li>
                        <li>
                            <a href="?page={{customers.next_page_number}}"
                                class="px-3 py-1 rounded-md rounded-r-lg inline-block focus:outline-none focus:shadow-outline-purple"
                                aria-label="Next">
                                <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                    <path
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd" fill-rule="evenodd"></path>
                                </svg>
                            </a>
                        </li>
                        {%endif%}
                    </ul>
                </nav>
            </span>
        </div>
{%endif%}
    </div>
</div>
{% endblock %}