{% load static %}

<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        Dashboard | 
        {% block title %}
            basic
        {% endblock title %}
    </title>
    {% block css %}

    {% endblock css %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.3.0/dist/flowbite.min.css" />
    <link rel="stylesheet" href="{%static 'assets/css/tailwind.output.css'%}" />
    <link rel="stylesheet" href="{%static 'assets/css/style.css'%}" />
  
  
    <script src="https://unpkg.com/@themesberg/flowbite@1.3.0/dist/flowbite.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="{%static 'assets/js/init-alpine.js'%}"></script>
  
</head>

<body>

    {% block body %}

    {% endblock body %}

    {% block js %}

    {% endblock js %}
</body>

</html>