{%extends 'home/basic.html'%}
{% load custom_tags %}
{%load static%}

{%block css%}
<style>
    .cat-blocks-container {
        padding-top: .5rem
    }

    .cat-blocks-container [class*="col-"] {
        display: flex;
        align-items: stretch;
        justify-content: center
    }

    .cat-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem
    }

    .cat-block figure {
        display: inline-flex;
        align-items: center;
        position: relative;
        flex: 1;
        margin: 0
    }

    .cat-block figure span {
        position: relative
    }

    .cat-block figure span:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -.2rem;
        left: 45%;
        width: 105%;
        margin-left: -45%;
        height: .3rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 0.35s ease;
        filter: blur(3px);
        opacity: .5
    }

    .cat-block img {
        margin-left: auto;
        margin-right: auto;
        transition: transform 0.35s ease
    }

    .cat-block:hover img {
        transform: translateY(-14px)
    }

    .cat-block:hover figure span:after {
        opacity: 1
    }

    .cat-block-title {
        color: #333;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: -.01em;
        margin-top: 2rem;
        margin-bottom: 0
    }
</style>
{%endblock%}

{%block content%}

<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="pt-3 pb-3 mb-2 intro-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="mb-2 intro-slider-container slider-container-ratio mb-lg-0">
                                <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "responsive": {
                                            "768": {
                                                "nav": true,
                                                "dots": false
                                            }
                                        }
                                    }'>
                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)"
                                                    srcset="{%static 'home/assets/images/demos/demo-3/slider/slide-1-480w.jpg'%}">
                                                <img src="{%static 'home/assets/images/demos/demo-3/slider/slide-1.jpg'%}"
                                                    alt="Image Desc">
                                            </picture>
                                        </figure>
                                        <!-- End slide-image -->

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle text-primary">Daily Deals</h3>
                                            <h1 class="intro-title">
                                                AirPods <br>Earphones
                                            </h1>

                                            <div class="intro-price">
                                                <sup>Today:</sup>
                                                <span class="text-primary">
                                                    &#8377;247<sup>.99</sup>
                                                </span>
                                            </div>

                                            <a href="category.html" class="btn btn-primary btn-round">
                                                <span>Click Here</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- End .intro-slide -->

                                    <div class="intro-slide">
                                        <figure class="slide-image">
                                            <picture>
                                                <source media="(max-width: 480px)"
                                                    srcset="{%static 'home/assets/images/demos/demo-3/slider/slide-2-480w.jpg'%}">
                                                <img src="{%static 'home/assets/images/demos/demo-3/slider/slide-2.jpg'%}"
                                                    alt="Image Desc">
                                            </picture>
                                        </figure>
                                        <!-- End .slide-image -->

                                        <div class="intro-content">
                                            <h3 class="intro-subtitle text-primary">Deals and Promotions</h3>
                                            <h1 class="intro-title">
                                                Echo Dot <br>3rd Gen
                                            </h1>
                                            <!-- End .intro-title -->

                                            <div class="intro-price">
                                                <sup class="intro-old-price">$49,99</sup>
                                                <span class="text-primary">
                                                    &#8377;29<sup>.99</sup>
                                                </span>
                                            </div>

                                            <a href="category.html" class="btn btn-primary btn-round">
                                                <span>Click Here</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </a>
                                        </div>
                                        <!-- End .intro-content -->
                                    </div>
                                </div>
                                <!-- End .intro-slider owl-carousel owl-simple -->

                                <span class="slider-loader"></span>
                                <!-- End .slider-loader -->

                            </div>
                            <!-- End .intro-slider-container -->
                        </div>
                        <!-- End .col-lg-8 -->

                        <div class="col-lg-4">
                            <div class="intro-banners">
                                <div class="banner mb-lg-1 mb-xl-2">
                                    <a href="#">
                                        <img src="{%static 'home/assets/images/demos/demo-3/banners/banner-1.jpg'%}"
                                            alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Top Product</a>
                                        </h4>
                                        <h3 class="banner-title"><a href="#">Edifier <br>Stereo Bluetooth</a></h3>
                                        <a href="#" class="banner-link text-primary">Shop Now<i
                                                class="icon-long-arrow-right"></i></a>
                                    </div>
                                </div>
                                <!-- End .banner -->

                                <div class="banner mb-lg-1 mb-xl-2">
                                    <a href="#">
                                        <img src="{%static 'home/assets/images/demos/demo-3/banners/banner-2.jpg'%}"
                                            alt="Banner">
                                    </a>
                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Clearance</a>
                                        </h4>
                                        <h3 class="banner-title"><a href="#">GoPro - Fusion 360 <span>Save
                                            &#8377;70</span></a></h3>
                                        <a href="#" class="banner-link text-primary">Shop Now<i
                                                class="icon-long-arrow-right"></i></a>
                                    </div>
                                </div>
                                <!-- End .banner -->

                                <div class="mb-0 banner">
                                    <a href="#">
                                        <img src="{%static 'home/assets/images/demos/demo-3/banners/banner-3.jpg'%}"
                                            alt="Banner">
                                    </a>

                                    <div class="banner-content">
                                        <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#">Featured</a>
                                        </h4>
                                        <h3 class="banner-title"><a href="#">Apple Watch 4 <span>Our Hottest
                                                    Deals</span></a></h3>
                                        <a href="#" class="banner-link text-primary">Shop Now<i
                                                class="icon-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End side product -->
                    </div>
                </div>
            </div>
            <!-- End carausal side-->

            <div class="container">
                <div class="my-cat-container">
                    <h2 class="mb-4 text-center title">Explore Popular Categories</h2>
                    <div class="cat-blocks-container">
                        <div class="row">
                            {%for scat in trendingCat%}
                            <div class="col-6 col-sm-4 col-lg-2">
                                <a href="{%url 'categoryDetail' scat.id%}" class="cat-block">
                                    <figure>
                                        <span>
                                            <img src="{{scat.image.url}}" alt="{{scat.name}} image">
                                        </span>
                                    </figure>
                                    <h3 class="cat-block-title">{{scat.name|capfirst}}</h3>
                                </a>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    <!-- End cat-blocks-container -->
                </div>
            </div>
            <!-- End catgory block -->

            <div class="mb-7 mb-lg-11"></div>
            <!-- End .mb-7 -->

            <div class="container">
                <div class="mb-5 cta cta-border cta-border-image mb-lg-7" style="background-image: url('{% static "home/assets/images/demos/demo-3/bg-1.jpg"%}')";>
                    <img src="" alt="">
                    <div class="bg-white cta-border-wrapper">
                        <div class="row justify-content-center">
                            <div class="col-md-11 col-xl-11">
                                <div class="cta-content">
                                    <div class="cta-heading">
                                        <h3 class="text-right cta-title"><span class="text-primary">New Deals</span>
                                            <br>Start Daily at 12pm e.t.
                                        </h3>
                                    </div>
                                    <div class="cta-text">
                                        <p>Get <span class="text-dark font-weight-normal">FREE SHIPPING* & 5%
                                                rewards</span> on <br>every order with Rental Appliances Theme
                                            rewards
                                            program
                                        </p>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-round"><span>Add to Cart for
                                            $50.00/yr</span><i class="icon-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End advertise block -->




            <div class="container featured">
                <ul class="nav nav-pills nav-border-anim nav-big justify-content-center mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="products-newproduct-link" data-toggle="tab"
                            href="#products-newproduct-tab" role="tab" aria-controls="products-newproduct-tab"
                            aria-selected="true">New Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="products-rated-link" data-toggle="tab" href="#products-rated-tab" role="tab"
                            aria-controls="products-rated-tab" aria-selected="false">Top Rated</a>
                    </li>
                </ul>

                <div class="tab-content tab-content-carousel">
                    <div class="tab-pane p-0 fade show active" id="products-newproduct-tab" role="tabpanel"
                        aria-labelledby="products-newproduct-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                            {%for product in newProducts%}
                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="{%url 'productDetail' product.id %}">
                                        <img src="{{product.image_set.all.0.image.url}}" alt="Product image"
                                            class="product-image object-contain bg-white"style="height:361px; width:361;">
                                        <img src="{{product.image_set.all.1.image.url}}" alt="Product image"
                                            class="product-image-hover object-contain bg-white"style="height:361px; width:361;">
                                    </a>
                                    <div class="product-action product-action-dark">
                                        
                                        <a href="{% url 'quickView' product.id %}" class="btn-product btn-quickview"
                                            title="Quick view"><span>quick view</span></a>
                                    </div>
                                </figure>
                                <!-- End product media-->
                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{product.subcategory.name}}</a>
                                    </div>
                                    <h3 class="product-title"><a href="{%url 'productDetail' product.id %}">{{product.name}}</a></h3>
                                    <div class="product-price">
                                        &#8377;{{product.rent_per_day|floatformat}} /Day &nbsp;&nbsp;
                                        &#8377;{{product.rent_per_month|floatformat}} /Month
                                    </div>
                                    <div class="ratings-container">
                                        <div class="rating">
                                            {% with rating=product.feedbackrating_set.all|getAvgRating %}
                                            {% for i in rating|times %}
                                            <i class="fa fa-star rating-star"style="color:orange" data-value="1"></i>
                                            {%endfor%}
                                            {%for i in 5|times:rating%}
                                            <i class="fa fa-star rating-star" data-value="2"></i>
                                            {%endfor%}
                                            {% endwith %}
                                            </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                            <!-- End product -->
                        </div>
                        <!-- End .owl-carousel -->
                    </div>
                    <!-- .End .tab-pane -->


                    <div class="tab-pane p-0 fade" id="products-rated-tab" role="tabpanel"
                        aria-labelledby="products-rated-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                            data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                            {%for product in topRatedProducts%}
                            <div class="product product-2">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="{{product.image_set.all.0.image.url}}" alt="Product image"
                                            class="product-image object-contain bg-white" style="height:361px; width:361;">
                                        <img src="{{product.image_set.all.1.image.url}}" alt="Product image"
                                            class="product-image-hover object-contain bg-white" style="height:361px; width:361px;">
                                    </a>
                                    <div class="product-action product-action-dark">
                                        <a href="{% url 'quickView' product.id %}" class="btn-product btn-quickview"
                                            title="Quick view"><span>quick view</span></a>
                                    </div>
                                </figure>
                                <!-- End product media-->
                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">{{product.subcategory_idcategory.name}}</a>
                                    </div>
                                    <h3 class="product-title"><a href="product.html">{{product.name}}</a></h3>
                                    <div class="product-price">
                                        {{product.rent_per_day|floatformat}} /Day&nbsp;&nbsp;
                                        {{product.rent_per_month|floatformat}} /Month&nbsp;&nbsp;
                                    </div>
                                    <div class="ratings-container">
                                        <div class="rating">
                                            {% with rating=product.feedbackrating_set.all|getAvgRating %}
                                            {% for i in rating|times %}
                                            <i class="fa fa-star rating-star" style="color:orange" data-value="1"></i>
                                            {%endfor%}
                                            {%for i in 5|times:rating%}
                                            <i class="fa fa-star rating-star" data-value="2"></i>
                                            {%endfor%}
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                            <!-- End product -->
                        </div>
                        <!-- End .owl-carousel -->
                    </div>
                </div>
                <!-- End .tab-content -->
            </div>

            <div class="container mt-10 mb-8">
              
                <div class="mt-5 mb-5 owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": false,
                            "margin": 30,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "420": {
                                    "items":3
                                },
                                "600": {
                                    "items":4
                                },
                                "900": {
                                    "items":5
                                },
                                "1024": {
                                    "items":6
                                }
                            }
                        }'>
                    {%for brand in brands%}
                    <div class="brand" style="width: 150px; height:100px;">
                        <img src="{{brand.image.url}}" alt="{{brand.name}}" class="object-contain">
                    </div>
                    {%endfor%}
                </div>
                <!-- End .owl-carousel -->
            </div>
            <!-- End .container -->


            <div class="container">
                <hr class="mt-3 mb-6">
            </div>
            <!-- End .container -->



            <div class="container new-arrivals">
                <div class="mb-3 heading heading-flex">
                    <div class="heading-left">
                        <h2 class="title">Trending Products</h2>
                    </div>
                    <!-- End .heading-left -->

                    <div class="heading-right">
                        <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="trending-all-link" data-toggle="tab"
                                    href="#trending-all-tab" role="tab" aria-controls="trending-all-tab"
                                    aria-selected="true">All</a>
                            </li>
                            {%for cat in trendingCat %}
                            <li class="nav-item">
                                <a class="nav-link" id="trending-{{cat.name}}-link" data-toggle="tab"
                                    href="#trending-{{cat.name}}-tab" role="tab"
                                    aria-controls="trending-{{cat.name}}-tab" aria-selected="true">{{cat.name}}</a>
                            </li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
                <!-- End .heading-right -->

                <div class="row">
                    <div class="col-xl-5col d-none d-xl-block">
                        <div class="banner">
                            <a href="#">
                                <img src="{% static 'home/assets/images/demos/demo-3/banners/banner-4.jpg' %}"
                                    alt="banner">
                            </a>
                        </div>
                    </div>
                    <!-- End .col-xl-5col -->

                    <div class="col-xl-4-5col">
                        <div class="tab-content tab-content-carousel just-action-icons-sm">
                            <div class="p-0 tab-pane fade show active" id="trending-all-tab" role="tabpanel" aria-labelledby="trending-all-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl" data-owl-options='{
                                        "nav": true, 
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                    {%for product in products%}
                                    <div class="product product-2">
                                        <figure class="product-media">
                                            <a href="{%url 'productDetail'  product.id %}">
                                                <img src="{{product.image_set.all.0.image.url}}" alt="Product image" class="product-image object-contain bg-white" style="height:297px; width:297;">
                                                <img src="{{product.image_set.all.1.image.url}}" style="height:297px; width:297;" alt="Product image"
                                            class="product-image-hover object-contain bg-white">
                                            </a>
                                            <div class="product-action product-action-dark">
                                             
                                                <a href="{% url 'quickView' product.id %}" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                            </div>
                                        </figure>

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">{{product.subcategory.name}}</a>
                                            </div>
                                            <h3 class="product-title"><a href="{%url 'productDetail'  product.id %}">{{product.name}}</a></h3>
                                            <div class="product-price">
                                                {{product.rent_per_day|floatformat}} /Day&nbsp;&nbsp;
                                                {{product.rent_per_day|floatformat}} /Mon
                                            </div>
                                            <div class="ratings-container">
                                                <div class="rating">
                                                    {% with rating=product.feedbackrating_set.all|getAvgRating %}
                                                    {% for i in rating|times %}
                                                    <i class="fa fa-star rating-star" style="color:orange" data-value="1"></i>
                                                    {%endfor%}
                                                    {%for i in 5|times:rating%}
                                                    <i class="fa fa-star rating-star" data-value="2"></i>
                                                    {%endfor%}
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                                <!-- End .owl-carousel -->
                            </div>
                            {%for cat in trendingCat %}
                            <div class="p-0 tab-pane fade show" id="trending-{{cat.name}}-tab" role="tabpanel"
                                aria-labelledby="trending-{{cat.name}}-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                                    data-toggle="owl" data-owl-options='{
                                        "nav": true, 
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                    {%for product in products%}
                                    {%if product.subcategory == cat %}
                                    <div class="product product-2">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="{{product.image_set.all.0.image.url}}" alt="Product image"
                                                    style="height:297px; width:297;" class="object-contain bg-white">
                                                <img src="{{product.image_set.all.1.image.url}}" alt="Product image"
                                            class="product-image-hover object-contain bg-white" style="height:297px; width:297;">
                                            </a>
                                            <div class="product-action product-action-dark">
                                             
                                                <a href="{% url 'quickView' product.id %}" class="btn-product btn-quickview"
                                                    title="Quick view"><span>quick view</span></a>
                                            </div>
                                        </figure>
                                        <!-- End .product-media -->
                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">{{product.subcategory.name}}</a>
                                            </div>
                                            <h3 class="product-title"><a href="product.html">{{product.name}}</a></h3>
                                            <div class="product-price">
                                                {{product.rent_per_day|floatformat}} /Day&nbsp;&nbsp;
                                                {{product.rent_per_day|floatformat}} /Mon
                                            </div>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                </div>
                                                <span class="ratings-text">( 4 Reviews )</span>
                                            </div>
                                        </div>
                                    </div>
                                    {%endif%}
                                    {%endfor%}
                                </div>
                                <!-- End .owl-carousel -->
                            </div>
                            {%endfor%}
                        </div>
                        <!-- End .tab-content -->
                    </div>
                </div>
            </div>

            <div class="mb-5 bg-light deal-container pt-2 pb-6">
                <div class="container">
                    <div class="mt-1 mb-0 text-center more-container">
                        <a href="{%url 'categoryDetail'%}" class="btn btn-outline-dark-2 btn-round btn-more"><span>Shop More
                                Products</span><i class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- End .container -->

            <div class="container">
                <hr class="mt-5 mb-0">
            </div>
            <!-- End .container -->

            <div class="mt-2 mb-2 bg-transparent icon-boxes-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rocket"></i>
                                </span>
                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Shipping</h3>
                                    <!-- End .icon-box-title -->
                                    <p>Orders $50 or more</p>
                                </div>
                                <!-- End .icon-box-content -->
                            </div>
                            <!-- End .icon-box -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rotate-left"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Free Returns</h3>
                                    <!-- End .icon-box-title -->
                                    <p>Within 30 days</p>
                                </div>
                                <!-- End .icon-box-content -->
                            </div>
                            <!-- End .icon-box -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-info-circle"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                                    <!-- End .icon-box-title -->
                                    <p>when you sign up</p>
                                </div>
                                <!-- End .icon-box-content -->
                            </div>
                            <!-- End .icon-box -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-life-ring"></i>
                                </span>

                                <div class="icon-box-content">
                                    <h3 class="icon-box-title">We Support</h3>
                                    <!-- End .icon-box-title -->
                                    <p>24/7 amazing services</p>
                                </div>
                                <!-- End .icon-box-content -->
                            </div>
                            <!-- End .icon-box -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .icon-boxes-container -->

            <div class="container">
                <div class="mb-0 cta cta-separator cta-border-image cta-half" style="background-image: url('{% static "home/assets/images/demos/demo-3/bg-2.jpg"%}')">
                    <div class="bg-white cta-border-wrapper">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="text-center cta-wrapper cta-text">
                                    <h3 class="cta-title">Shop Social</h3>
                                    <!-- End .cta-title -->
                                    <p class="cta-desc">Donec nec justo eget felis facilisis fermentum. Aliquam
                                        porttitor mauris sit amet orci. </p>
                                    <!-- End .cta-desc -->

                                    <div class="social-icons social-icons-colored justify-content-center">
                                        <a href="#" class="social-icon social-facebook" title="Facebook"
                                            target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon social-twitter" title="Twitter"
                                            target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon social-instagram" title="Instagram"
                                            target="_blank"><i class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon social-youtube" title="Youtube"
                                            target="_blank"><i class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon social-pinterest" title="Pinterest"
                                            target="_blank"><i class="icon-pinterest"></i></a>
                                    </div>
                                    <!-- End .soial-icons -->
                                </div>
                                <!-- End .cta-wrapper -->
                            </div>
                            <!-- End .col-lg-6 -->

                            <div class="col-lg-6">
                                <div class="text-center cta-wrapper">
                                    <h3 class="cta-title">Get the Latest Deals</h3>
                                    <!-- End .cta-title -->
                                    <p class="cta-desc">and <br>receive <span class="text-primary">$20 coupon</span>
                                        for
                                        first shopping</p>
                                    <!-- End .cta-desc -->

                                    <form action="#">
                                        <div class="input-group">
                                            <input type="email" class="form-control"
                                                placeholder="Enter your Email Address" aria-label="Email Adress"
                                                required>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-rounded" type="submit"><i
                                                        class="icon-long-arrow-right"></i></button>
                                            </div>
                                            <!-- .End .input-group-append -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End .main -->
    </div>
</body>
{%endblock%}