{%extends 'home/basic.html'%}
{% load custom_tags %}
{%load static%}

{%block content%} 
<body>
        <section class="h-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-10 col-xl-8">
                        <div class="shadow card" style="border-radius: 10px;">
                            <div class="px-4 py-5 card-header">
                                <h5 class="mb-0 text-muted">Thanks for your Order, <span style="color: #39f;">{{order.customer}}</span>!</h5>
                            </div>
                            <div class="p-4 card-body">
                                {% for od in orderDetail %}
                                <div class="mb-4 border card shadow-0">
                                    <div class="card-body">
                                        <div class="row flex justify-between">
                                            <div class="col-md-2 pl-5">
                                                <img src="{{od.product.image_set.all.0.image.url}}" style="height: 100px;" class="object-contain img-fluid">
                                            </div>
                                            <div class="text-left col-md-2 d-flex justify-content-center align-items-center">
                                                <p class="mb-0 font-semibold">{{od.product.name|truncatechars:35}}</p>
                                            </div>

                                            <div class="p-2 pl-4 ml-6">
                                                <span class="mr-2 text-xl font-medium ">Rent</span>
                                                <p class="flex items-center mb-1 ">
                                                    <span class="mr-1 text-xl font-medium text-blue-500 " style="font-family: none; ">&#x20B9;</span>
                                                    <span class="text-lg font-medium text-blue-500 ">{{od.rent_price}}</span>

                                                </p>

                                                <span class="pt-4 mr-2 text-xl font-medium">Refundable Deposit</span>
                                                <p class="flex items-center ">
                                                    <span class="mr-1 text-xl font-medium text-blue-500 " style="font-family: none; ">&#x20B9;</span>
                                                    <span class="text-lg font-medium text-blue-500 ">{{od.deposit}} /Unit</span></p>


                                            </div>
                                            <div class="p-2 pl-4 ml-6">

                                                <span class="pt-2 mt-2 text-xl font-medium">Delivery Charges</span>
                                                <p class="flex items-center mb-1 ">
                                                    <span class="mr-1 text-xl font-medium text-blue-500 " style="font-family: none; ">&#x20B9;</span>
                                                    <span class="text-lg font-medium text-blue-500 ">{{od.delivery_pickup_charge}}/Unit</span>

                                                </p> <span class="pt-4 mr-2 text-xl font-medium">Rental Period</span>
                                                <p class="flex items-center ">
                                                    <span class="text-lg font-medium ">From {{od.start_date|date:"d-m-y"}} TO {{od.end_date|date:"d-m-y"}}</span>
                                                </p>
                                            </div>
                                            <div class="p-2 pl-4 ml-6 w-36">
                                                <span class="pt-2 mt-2 text-xl font-medium">QTY</span>
                                                <p class="flex items-center mb-1 ml-3">
                                                    <span class="text-lg font-medium "><b>{{od.quantity}}</b></span>
                                                </p>
                                                {%if od.status.status != "cancelled" and od.status.status != "on the way" %}
                                                <a class="-ml-4 font-bold text-danger cancelBtn cursor-pointer" data-oid="{{od.id}}" data-token="{{ csrf_token }}" data-url="{% url 'cancellation' od.id %}" data-return="{%url 'orderView' order.id %}" >Cancel</a>
                                                {%endif%}
                                            </div>
                                        </div>

                                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-2">
                                                <p class="mb-0 text-muted small">Track Order</p>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="progress" style="height: 6px; border-radius: 16px;">
                                                    <div class="progress-bar" role="progressbar"
                                                    {% if od.status.status == "pending"%} style="width: 8%; border-radius: 16px; background-color: #39f ;" {%endif%}
                                                    {% if od.status.status == "confirmed"%} style="width: 25%; border-radius: 16px; background-color: #39f ;" {%endif%}
                                                    {% if od.status.status == "cancelled"%} style="width: 42%; border-radius: 16px; background-color: #39f ;" {%endif%}
                                                    {% if od.status.status == "on the way"%} style="width: 59%; border-radius: 16px; background-color: #39f ;" {%endif%}
                                                    {% if od.status.status == "delivered"%} style="width: 75%; border-radius: 16px; background-color: #39f ;" {%endif%}
                                                    {% if od.status.status == "pickedup"%} style="width: 100%; border-radius: 16px; background-color: #39f ;" {%endif%}
                                                    
                                                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div class="mb-1 d-flex justify-content-around">
                                                    <p class="mt-1 mb-0 text-muted small ms-xl-5">Pending</p>
                                                    <p class="mt-1 mb-0 text-muted small ms-xl-5">Confirmed</p>
                                                    <p class="mt-1 mb-0 text-muted small ms-xl-5">Cancelled</p>
                                                    <p class="mt-1 mb-0 text-muted small ms-xl-5">On The Way</p>
                                                    <p class="mt-1 mb-0 text-muted small ms-xl-5">Delivered</p>
                                                    <p class="mt-1 mb-0 text-muted small ms-xl-5">Picked Up</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                               
                                <div class="pt-2 d-flex justify-content-between">
                                    <p class="mb-0 text-3xl font-semibold text-gray-700 ">Order Details</p>
                                    <p class="mb-0 text-muted"><span class="font-semibold me-4"></span> &#x20B9;</p>
                                </div>

                                <div class="pt-2 d-flex justify-content-between">
                                    <p class="mb-0 text-muted">Invoice Number : 788152</p>
                                    <p class="mb-0 text-muted"><span class="font-semibold me-4">Total Rent </span>&#x20B9;{{orderDetail|totalRent}}</p>
                                </div>

                                <div class="d-flex justify-content-between">
                                    <p class="mb-0 text-muted">Invoice Date : 22 Dec,2019</p>
                                    <p class="mb-0 text-muted"><span class="font-semibold me-4">GST 18%</span> 123</p>
                                </div>

                                <div class="mb-5 d-flex justify-content-between">
                                    <p class="mb-0 text-muted">Recepits Voucher : 18KU-62IIK</p>
                                    <p class="mb-0 text-muted"><span class="font-semibold me-4">Delivery Charges</span> {{orderDetail|totalRent}}</p>
                                </div>
                            </div>
                            <div class="py-4 ml-0 border card-footer" style="background-color:  #39f; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                <p class="mb-0 text-white d-flex align-items-center justify-content-end text-uppercase">Total paid: <span class="pl-2 mb-0 h5 ms-2 text-white">&#x20B9;{{order.tot_amount}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            cancelBtn = document.getElementsByClassName("cancelBtn");
            for (let i = 0; i < cancelBtn.length; i++) {
            cancelBtn[i].addEventListener("click", (e) => {
                oid = e.target.dataset.oid;
                token = e.target.dataset.token;
                url = e.target.dataset.url;
                returnurl = e.target.dataset.return;
                Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#52cfd4",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes Decline it !",
                }).then((result) => {
                if (result.isConfirmed) {
                    fetch(url, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": token,
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        oid: oid,
                    }),
                    })
                    .then((result) => {
                        return result.json();
                    })
                    .then((data) => {
                        location.href = returnurl;
                    });
                }
                });
            });
            }

        </script>
</body>
{%endblock%}