<!DOCTYPE html>
<html lang="en" class="h-screen">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../accounts/static/assets/css/style.css">
    <title>My Resume</title>
</head>

<body class="flex justify-center items-center mt-auto bg-gray-100">
    <div class="border rounded-lg bg-white">
        <div class="bg-gray-700  grid grid-cols-6 relative">
            <div class="py-16 col-span-5 px-10">
                <h2 class="text-white text-4xl font-semibold">Viraj Faldu</h2>
                <p class="text-gray-400 py-2">Web Developer</p>

                <p class="pt-5 text-gray-400 inline pr-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-envelope-fill inline" viewBox="0 0 16 16">
                        <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                    </svg> virajfaldu672002@gmail.com</p>
                <a class="pt-5 text-gray-400 inline" href="https://github.com/virajfaldu"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="inline bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                    https://github.com/virajfaldu</a>
            </div>
            <div class="col-span-1 absolute" style="right:0px">
                <img src="_MG_7414.jpg" alt="" class="float-right" height="400px" width="252px">
            </div>
        </div>
        <div class="grid gap-5 grid-cols-6 px-12 py-10 text-gray-700 auto-cols-max">
            <div class="col-span-4 pr-6">
                <div class="border-b pb-7">
                    <h1 class="text-2xl">About me</h1>
                    <h1 class="pt-4 font-sans">Eager and highly passionate 3rd-year Bachelor of Computer
                        Application
                        student fervent
                        about backend development, UI/UX responsive design Proficient in multiple languages.</h1>
                </div>
                <div class="border-b py-5 pb-7">
                    <h1 class="text-2xl">Education</h1>
                    <div class="pt-4 font-sans">
                        <div class="pb-2">
                            <div>
                                <b class="inline text-gray-600">Bachelors of computer application (BCA)</b>
                                <p class="float-right">2019-present</p>
                            </div>
                            <p>Som-lalit institute of computer application, Ahmedabad </p>
                        </div>
                        <div class="pb-2 text-gray-600">
                            <div>
                                <b class="inline">Higher secondary school</b>
                                <p class="float-right">2018-2019</p>
                            </div>
                            <p>CM thakar high school, Ahmedabad</p>
                        </div>
                        <div class="text-gray-600">
                            <div>
                                <b class="inline">Secondary school</b>
                                <p class="float-right">2016-2017</p>
                            </div>
                            <p>CM thakar high school, Ahmedabad</p>
                        </div>
                    </div>
                </div>
                <div class="py-5 pb-7">
                    <h1 class="text-2xl">Projects</h1>
                    <div class="pt-4 font-sans">
                        <ul class="list-disc ml-6 mt-4">
                            <li> <b> Rental Appliances : </b></li>
                            <li class="list-none">Rental appliances is web based application for providing IT equipment
                                on rent online and
                                customers can request for customize product <br> - Django(python), MYSQL, tailwind,
                                javascript,
                                CSS3, Html</li>
                            <a href="https://github.com/Rental-appliances/Rental-Appliances" class="text-blue-400"> view
                                code</a>
                        </ul>
                        <ul class="list-disc ml-6 mt-4">
                            <li> <b> D-Strap : </b></li>
                            <li class="list-none">Wrote a backend and make modifications for the frontend to assemble a
                                blog about finance, politics, fitness, coding, etc <br>- Django(python), SQLite,
                                javascript, bootstrap</li>
                            <a href="http://virajfaldu.pythonanywhere.com/" class="text-blue-400">view website</a>
                            <a href="https://github.com/virajfaldu/D-Strap"
                                class="text-blue-400">&nbsp;&nbsp;&nbsp;&nbsp; view code</a>
                        </ul>
                        <ul class="list-disc ml-6 mt-4">
                            <li> <b> Tech-stuff : </b></li>
                            <li class="list-none">Worked as frontend developer to create interactive & responsive UI/UX
                                design for
                                blog based website <br>- HTML, CSS3, javascript</li>
                            <a href="https://techstuff.pythonanywhere.com/" class="text-blue-400">view website</a>
                            <a href="https://github.com/virajfaldu/TechStuff"
                                class="text-blue-400">&nbsp;&nbsp;&nbsp;&nbsp; view code</a>
                        </ul>
                        <ul class="list-disc ml-6 my-4 ">
                            <li> <b> ForumTier : </b></li>
                            <li class="list-none">FormTier is first experiance to create a web-application for devloper
                                community <br>- php, bootstrap, CSS3, Html</li>
                        </ul>
                        <b class="ml-6 mb7">As I mentioned, coding is my hobby so I determined to document this resume
                            with
                            HTML, Tailwindcss</b>
                    </div>
                </div>

            </div>

            <div class=" border-l pl-6 col-span-2 ">
                <div class=" border-b pb-7 text-gray-400 font-medium">
                    <h1 class="text-2xl pb-4 text-gray-700 font-normal">Personal Details</h1>
                    <p class="">Date of birth</p>
                    <h1 class="text-gray-600">july 6th, 2002</h1>
                    <p class="pt-2">Gender</p>
                    <p class="text-gray-600">Male</p>
                </div>
                <div class="border-b py-6 space-y-3 text-black">
                    <h1 class="text-2xl font-normal mb-5">Skills</h1>
                    <p class="">HTML5, CSS</p>
                    <p class="">Javascript, Jquery</p>
                    <p class="">Bootstrap, TailwindCSS</p>
                    <p class="">Python, Django</p>
                    <p class="">Core PHP</p>
                    <p class="">MYSQL</p>
                </div>
                <div class="border-b py-6 space-y-3 text-black">
                    <h1 class="text-2xl font-normal mb-5">Languages</h1>
                    <p class="">English</p>
                    <p class="">Hindi</p>
                    <p class="">Gujrati</p>
                </div>
                <div class="py-6 space-y-3 text-black ">
                    <h1 class="text-2xl mb-5">Hobbies</h1>
                    <ul class="text-lg mb-5 list-inside pl-6" style="list-style: square;">
                        <li class="">Listening Music</li>
                        <li class="">Listening Podcast</li>
                        <li class="">coding</li>
                        <li class="">Reading</li>
                    </ul>
                </div>
            </div>
        </div>
</body>

</html>